*{
	color: #EAEAEA;
}

/* Välkommen till dag */
h2 {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 1.5em;
}

/* cards, tider om semenarium */
.semenarium{
	display: flex;
	flex-wrap: wrap;
	margin: 1em;
}

.semenarium > *{
	background-image: var(--linear-farg);
	width: 100%;
	margin-top: 2em;
	box-shadow: var(--skugga-effekt);
}

/* dag cards */
article.dag{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, auto);
	
}

article.dag > *{
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #EAEAEA;
}

article.dag > p:nth-child(2){
	text-align: right;
	padding-right: 0.5em;
}

article.dag > p:nth-child(3){
	grid-column: 1 / span 2;
	grid-row: 2;
}

article.dag > ul{
	grid-column: 1 / span 2;
	grid-row: 3;
	padding-top: 1em;
	padding-left: 1.5em;
	border-bottom: none;
	padding-bottom: 1em;
	
}

article.dag > ul li{
	margin-bottom: 0.2em;
}

/* Länkbaren och till topp ovanför footer */
.osynlig-botten{
	display: flex;
	justify-content: space-between;
	visibility: hidden;
	border-bottom: 1px solid #EAEAEA;
	height: 4em;
	background-color: #030524;
}

.osynlig-botten > *{
	display: flex;
	align-items: center;
	padding: 1em;
	font-size: clamp(1em, 5vw, 1.5em);
}

.dag-botten{
	border-top: 1px solid #EAEAEA;
}
/* länk till top,anmälan och läs mer ovan footer */
.meny-botten, 
.dag-botten{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #EAEAEA;
	height: 4em;
	background-color: #030524;
}

/* styling länk top och anmälan */
.meny-botten > a,
.dag-botten > *{
	display: flex;
	align-items: center;
	padding: 1em;
	font-size: clamp(1em, 5vw, 1.5em);
}

@media (min-width:1009px){
	.osynlig-botten{
		visibility: visible;
		margin-top: 5em;
		border-top: 1px solid #EAEAEA;
	}
	/* Länkbaren och till topp */
	.dag-botten, .meny-botten{
		display: none;
	}
}