*{
	color: #373636;
}

body{
	background-image: var(--linear-farg);
}

h1 > a{
	text-decoration: none;
	color: #EAEAEA;
}

main{
	display:flex;
	justify-content: center;
}

/* Formulär boxen */
form{
	display: flex;
	flex-grow: 1;
	max-width: 50em;
	height:auto;
	justify-content: center;
	border-radius: 0.2em;
	background-color: #EAEAEA;
	margin-top:2em;
	padding:1em;
	flex-direction: column;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	box-shadow: 0 15px 25px 10px #0e2a5a8c;
}

/* Formulär innehåll */
form > *{
	flex-direction: column;
}

.form-stil > p:first-child,
.form-stil > label:first-child{
	font-weight: bold;
}

.form-stil{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	margin-bottom:3em;
	margin-top:1.5em;
}

.biljett, 
.mat{
	display:grid;
	grid-template-columns: minmax(10em, 25em);
	grid-template-rows: auto;
	margin-bottom:3em;
	margin-top:1.5em;
	align-self:center;
}

.form-stil > *{
	border-bottom:1px solid #000000;
	padding:0.2em;
}

.rubrik{
	display:flex;
	align-items: center;
}

.rubrik > h2{
	margin:1em 0;
	font-size: clamp(1em, 5vw, 1.5em);
}

.rubrik > p{
	margin-bottom: 3em;
}

.biljett > .kostnad, 
.mat > .kostnad{
	display: flex;
	justify-content: flex-end;
}

.mat > label > .mat-info{
	margin-left:1em;
	font-style: italic;
	font-family: var(--font-text);
	font-size: 0.8em;
}

.biljett label:hover, 
.mat  label:hover,
.mat > label > .mat-info,
.mat > div *:hover,
input[type="radio"]{
	cursor: pointer;
}

.mat > label > input:focus,
.biljett > label > input:focus,
.mat > div > input:focus{
	outline-color: #21baed;
}

.form-stil > p:first-child,
.form-stil > label:first-child{
	grid-column: 1 / span 2;
}

.mat > div:nth-child(8){
	grid-column: 1 / span 2;
	border-bottom: none;
}

/* Textruta för allergi */
#mat__skriv-allergi{
	min-width: 28%;
	height:3em;
	resize: none;
}

.mat > div > #mat__skriv-allergi:hover{
	cursor:auto;
}

#mat__skriv-allergi,
.mat__textarea--osynlig{
	visibility: hidden;
}

input[type="checkbox"]:checked ~ #mat__skriv-allergi,
input[type="checkbox"]:checked ~.mat__textarea--osynlig{
	visibility: visible;
}

/* Personuppgifter */
.person input{
	width:100%;
	border-radius: 0.2em;
	border:1px solid black;
}

.person > *{
	display: flex;
	flex-direction: column;
}

.person > div > input:invalid{
	border-right:0.3em solid #ff0000;
}

.person > div > input[name="input-person--krav"]:valid{
	border-right:0.3em solid #008000;
}

.person > div > input:focus{
	background-color: #ffffff;
	box-shadow:0 0 1px 0.5px #21baed;
	outline: none;
	border:1px solid #01357B;
}

/* Knapp */
.knapp-stil{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

button.knapp-stil--utseende{
	border-radius: 0.2em;
	background-color: #030524;
	color:#EAEAEA;
	width: 7em;
	height:2em;
	transition: all 0.2s;
	border:none;
}

button.knapp-stil--utseende:hover{
	cursor: pointer;
	transition-timing-function: ease-out;
	transform: scale(1.01);
	background-color: #01357B;
	box-shadow: var(--skugga-effekt)
}

button.knapp-stil--utseende:focus{
	transition-timing-function: ease-out;
	transform: scale(1.01);
	background-color: #01357B;
	box-shadow: var(--skugga-effekt)
}

/* boxen i footer */
.meny-botten{
	border-bottom: 1px solid #EAEAEA;
	border-top: 1px solid #EAEAEA;
	margin-top:5em;
	height: 4em;
	display: flex;
	background-color: #030524;
}

/* styling länk top och anmälan */
.meny-botten > .meny-botten__top{
	display: flex;
	align-items: center;
	padding:1em;
	font-size: clamp(1em, 5vw, 1.5em);
}

.meny-botten > .meny-botten__top:hover{
	text-decoration: underline;
}

footer *{
	color:#EAEAEA;
}

/* Ändrar storlek på personuppgift input */
@media (min-width: 768px){
	.person input{
		width: 60%;
	}
}
