*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	color: #373636;
}

body{
	background-color: #030524;
}

header{
	height:auto;
	background-color: #01357B;
}

/* styling till h1(header)*/
header > h1{
	font-family: alike;
	color: #EAEAEA;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(2em, 5vw, 10em);
	letter-spacing: 0.15em;
}

h1 > a{
	text-decoration: none;
	color: #EAEAEA;
}

main{
	display:flex;
	justify-content: center;
}

form{
	display: flex;
	flex-grow: 1;
	max-width: 50em;
	height:auto;
	justify-content: center;
	border-radius: 0.5em;
	background-color: #EAEAEA;
	margin-top:2em;
	padding:1em;
	flex-direction: column;
}

form > *{
	flex-direction: column;
}

.rubrik{
	display:flex;
	align-items: center;
}

.rubrik > h2{
	margin:1em 0;
	font-size: clamp(1em, 5vw, 1.5em);
}

.rubrik > p{
	margin-bottom: 3em;
}

.rubrik > *{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-stil > label:first-child{
	font-weight: bold;
}

.form-stil{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	margin-bottom:3em;
	margin-top:1.5em;
}

.form-stil > *{
	border-bottom:1px solid black;
	padding:0.2em;
}

.biljett > p, 
.mat > p{
	display: flex;
	justify-content: flex-end;
}

.biljett > div:nth-of-type(2n + 1),
.biljett > p:nth-of-type(2n + 1),
.mat > div:nth-of-type(2n + 1),
.mat > p:nth-of-type(2n + 1){
	background-color: #e0e0e0;
}

.form-stil > label:first-child{
	grid-column: 1 / span 2;
}

.mat > div:nth-child(8){
	grid-column: 1 / span 2;
	border-bottom: none;
}

textarea{
	min-width: 28%;
	height:3em;
	resize: none;
}

#skriv-allergi,
.osynlig-text{
	visibility: hidden;
}

input[type="checkbox"]:checked ~ #skriv-allergi,
input[type="checkbox"]:checked ~.osynlig-text{
	visibility: visible;
}

.person input{
	width:100%;
}

.person > *{
	display: flex;
	flex-direction: column;
}

.knapp-stil{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

button[type="submit"],
button[type="reset"]{
	border-radius: 0.2em;
	background-color: #030524;
	color:#EAEAEA;
	width: 7em;
	height:2em;
}

/* boxen i footer */
.meny-botten{
	border-bottom: 1px solid #EAEAEA;
	border-top: 1px solid #EAEAEA;
	margin-top:5em;
	height: 4em;
	background-color: #030524;
}

/* styling länk top och anmälan */
.meny-botten > a{
	display: flex;
	align-items: center;
	padding:1em;
	font-size: clamp(1em, 5vw, 1.5em);
}
footer *{
	color:#EAEAEA;
}
footer > .box-botten > *{
	background-color: #030524;
	width: 100%;
	height:20vh;
}

footer > .box-botten > h4{
	font-family: alike;
	color: #EAEAEA;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(2em, 5vw, 10em);
	letter-spacing: 0.15em;
}

/* listan i footer */
footer > .box-botten > ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left:1em;
	line-height: 1.8em;
	padding-top:0.5em;
}

@media (min-width: 768px){
	.person input{
		width: 60%;
	}
}
