*{
	color: #EAEAEA;
}

body > main > .bakgrund{
	background-image: var(--linear-bakgrund);
}

header > h1:hover,
footer > .box-botten > h4{
	cursor: default;
}

/* section med herobil och text */
.top{
	position: relative;
	font-size: 0;
}

.top > h2{
	position:absolute;
	bottom: 0;
	left:0;
	background-image: var(--linear-farg);
	font-family: var(--font-rubrik);
	color:#EAEAEA;
	padding: 0.3em;
	width: 40vw;
	font-size: min(max(16px, 3.5vw), 4vw);
}

 .hero-picture > img{
	width:100%;
	max-height: 80vh;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	object-position: 100% 10%;
}

/* info om konferensen */
.information > *{
	display: flex;
	justify-content: center;
	margin:1.5em;
	font-family: var(--font-text);
}

.information > h3{
	font-size: min(max(20px, 3vw), 10vw);
}

/* cards, tider om semenarium */
.semenarium{
	margin:1em;
	display: flex;
	flex-wrap: wrap;
}

.semenarium > *{
	background-image: var(--linear-farg);
	width: 100%;
	margin-top:2em;
	box-shadow: var(--skugga-effekt);
	font-family: var(--font-text);
}

/* datum i cards*/
.semenarium > .box-innehall > p:first-child{
	font-family: Gill Sans MT;
	color: #D6D6D6;
	font-size: 0.8em;
	padding:0.5em;
}

/* dag 1, dag 2 */
article.dag{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(7, auto);
}

/* dag 3 */
article.dag-tre{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(9, auto);
}


article.dag > *, 
article.dag-tre > *{
	padding-left:0.5em;
	padding-right: 0.5em;
	padding-top:0.5em;
}

/* border under föreläsare */
article.dag > p:nth-of-type(3n +4),
article.dag-tre > p:nth-of-type(3n +4){
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 0.5em;	
	padding-bottom: 0.5em;
}

/* styling för tider */
article.dag > p:nth-of-type(3n +3),
article.dag-tre > p:nth-of-type(3n +3){
	text-align: right;
	padding-right: 0.5em;
}

/* style för rubriken dag */
article.dag > p:first-child,
article.dag-tre > p:first-child{
	grid-column: 1 / span 2;
	font-size:1.3em;
	padding-bottom: 1em;
}

/* namn på första föreläsare */
article.dag > p:nth-child(4),
article.dag-tre > p:nth-child(4){
	grid-column: 1 / span 2;
	grid-row: 3;
}

/* namn på andra föreläsare */
article.dag > p:nth-child(7),
article.dag-tre > p:nth-child(7){
	grid-column: 1 / span 2;
	grid-row: 5;
}

/* namn på tredje föreläsare */
article.dag > p:nth-child(10),
article.dag-tre > p:nth-child(10){
	grid-column: 1 / span 2;
	grid-row: 7;
}

/* namn på fjärde föreläsaren dag 3 */
article.dag-tre > p:nth-child(13){
	grid-column: 1 / span 2;
	grid-row:9;
}

/* läs mera länken i cards */
article.dag > a,
article.dag-tre > a{
	grid-column: 1 / span 2;
	display: flex;
	justify-content: center;
	padding: 1em;
	font-size: 1.5em;
}

/* länk till top och anmälan ovan footer */
.meny-botten{
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	height: 4em;
	margin-top:5em;
	background-color: #030524;
}

/* styling länk top och anmälan */
.meny-botten > a{
	display: flex;
	align-items: center;
	background-color: #030524;
	font-size: 1.5em;
	font-family: var(--font-text)
}

/* Information om konferensen tar mindre bredd */
@media (min-width: 768px){
	.information > *{
		margin-left:10em;
		margin-right:10em;
	}
}
/* Länk till toppen försvinner */
@media (min-width:1009px){
	.meny-botten > a:first-child{
		visibility: hidden;
	}
}