*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

:root{
	--linear-farg: linear-gradient(to bottom right, #020317, #171756, #030524);
	--linear-bakgrund: linear-gradient(#0b1162, #265fa8, #364ba9, #020645);
	--skugga-effekt: 0px 2px 5px 0.5px #0e2a5a8c;
	--font-rubrik: georgia;
	--font-text: Times, serif;
}

header{
	height: auto;
	background-color: #030524;
}

/* styling till h1(header)*/
header > h1{
	font-family: var(--font-rubrik);
	color: #EAEAEA;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(2em, 5vw, 10em);
	letter-spacing: 0.15em;
}

body{
	background-image: var(--linear-bakgrund);
}

h1 > a,
h4 > a{
	text-decoration: none;
}

a{
	text-decoration: underline;
}

.till-anmalan--knapp{
	text-decoration: none;
}

main a:hover,
.kontakt:hover{
	text-decoration: underline;
}

/* datum plus länk under herobilden */
main > nav,
main > .bakgrund--gradiant > nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #030524;
	padding: 0.5em 1em;
	position: sticky;
	top: 0;
	font-family: var(--font-text);
}

/* Knapp i nav till anmälan */
.till-anmalan--knapp{
	background-color: #3030a1;
	border-radius: 0.2em;
	padding: 0.15em;
	box-shadow: inset 0px 1px 4px 1px #d8d8d892;
	transition: all 0.2s;
	overflow: hidden;
	position: relative;
}

.till-anmalan--knapp:hover{
	text-decoration: none;
	background-color: #008000;
}

.till-anmalan--knapp:before {
	content: "";
	background-color: #ffffff;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.5em;
	position: absolute;
	transform: translateX(-100%) rotate(45deg);
	transition: all 0.3s;   
  }
  
  .till-anmalan--knapp:hover:before { 
	transform: translateX(100%) rotate(45deg);
  }

  /* Osynligt card */
  .semenarium .semenarium__box-innehall--osynlig{
	visibility: hidden;
}

/* boxen i footer */
footer > .box-botten > *{
	background-color: #030524;
	width: 100%;
	height: 20vh;
}

footer > .box-botten > h4{
	font-family: var(--font-rubrik);
	color: #EAEAEA;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(2em, 5vw, 10em);
	letter-spacing: 0.15em;
}

footer > .box-botten > h4:hover{
	text-decoration: none;
}

/* listan i footer */
footer > .box-botten > ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 1em;
	line-height: 1.8em;
	padding-top: 0.5em;
	font-family: var(--font-text);
}

@media (min-width: 768px){
	.semenarium{
		display: flex;
		gap: 1em;
		justify-content: center;
	}
	.semenarium > *{
		width: 20em;
		height: auto;
		flex-grow: 1;
		align-items: center;
	}
	.information > *{
		margin-left: 10em;
		margin-right: 10em;
	}
}

@media (min-width:1009px){
	.semenarium > *{
		width: 2em;
		height: auto;
		flex-grow: 1;
		align-items: center;
	}
	a{
		text-decoration: none;
	}
	.semenarium__box-innehall--osynlig{
		display: none;
	}
}